@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap');

:root {
    --black:       #1C1C1C;
    --light-black: #2D2D2D;
    --grey:        #3F3F3F;
    --white:       #FFFFFF;
    --red:         #E42F2F;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-black);
    border-radius: 10px;
    border: 5px solid var(--black);
    height: 64px;
}

h1 {
    color: var(--white);
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    filter: opacity(60%);
    transition: 1s;
}

img:hover {
    filter: none;
}

.button-open-nav{
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 98vw;
    background: radial-gradient(50% 50% at 50% 50%, #2D2D2D 0%, #1C1C1C 100%);
    padding: 24px 6%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav#smartphone{
    display: none;

}

section {
    margin-bottom: 5%;
}

a {
    color: var(--white);
    text-decoration: none;
}

.header-left {
    width: 65%;
}

.header-right {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.title {
    margin: 96px 0;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.title h2 {
    font-style: italic;
    font-weight: 300;
    color: var(--white);
}

.title h1 {
    font-weight: 500;
}

.title span {
    color: var(--red);
    animation: nameRedShadow 4s infinite alternate;
}

#DownIcon {
    width: 48px;
    align-self: center;
    margin-bottom: 5%;
    animation: downIcon 1.5s infinite alternate;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 64px;
}

#about p{
    width: 50%;
    color: var(--white);
    max-width: 600px;

    font-weight: 250;
    font-size: 16px;
    line-height: 24px;
}

#Picture {
    width: 50%;
    max-width: 540px;
    height: 300px;
    border-radius: 10px;
    transition: 1s;
}

.Picture:hover {
    filter: none;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 600;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

}

.project {
    height: 280px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#skills h1 {
    margin-bottom: 32px;
    font-size: 32px;
}

#skills details {
    width: 100%;
    max-width: 1000px;
    min-height: 64px;
    padding: 14px 24px;
    background-color: #3F3F3F;
    border-radius: 16px;
    color: white;

    line-height: 36px;
    font-size: 24px;
    font-weight: 400;

}

#skills details p {
    color: #A4A4A4;
    max-width: 412px;
    max-height: 152px;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
}

#skills details div {
    display: flex;
    margin: 24px 80px 40px auto;
    gap: 56px;
}

#skills details div img {
    max-height: 152px;
}

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact h1 {
    margin-bottom: 32px;
    font-size: 40px;
}

#contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#contacts .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  616px;
    height: 120px;
    border-radius: 16px;

    padding: 0 36px;
    background-color: #3F3F3F;
}

#contacts .container div {
    text-align: center;
    margin-right: 36%;
}

#contacts .container h2 {
    font-size: 32px;
    font-weight: 500;
    color: #C9C9C9;
}

#contacts .container p {
    color: #949494;
    font-weight: 400;
}

#contacts ion-icon {
    font-size: 48px;
    color: #C9C9C9;

}

#contacts .finalText {
    font-weight: 350;
    color: white;
    text-align: center;
}

#contacts .finalText a {
    color: #2461FF;
}


@keyframes downIcon {
    to {
        transform: translateY(-25px);
    }
    from {
        transform: translateY(0px);
    }
}

@keyframes nameRedShadow {
    to {
        text-shadow: none;
    }
    from {
        text-shadow: 0px 0px 64px rgba(228, 47, 47, 0.7);
    }
}

@media(max-width: 640px){
    nav{
        display: none;
    }

    nav#smartphone{
        display: flex;

        position: fixed;
        left: -100%;
        top: 0;
        z-index: 10;

        width: 100%;
        height: 100vh;

        background: var(--light-black);
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 48px;

        padding: 32px 0;

        transition: left 0.7s;


    }

    nav#smartphone.open{
        left: 0;

        transition: left 0.7s;
    }

    nav#smartphone .button-open-nav{
        position: absolute;
    }

    nav#smartphone .header-right{
        flex-direction: column;
        gap: 24px;
    }

    .button-open-nav{
        position: fixed;
        left: 16px;
        top: 16px;
        z-index: 5;

        width: 40px;
        height: 40px;

        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;


        background: var(--red);
        color: var(--white);

        border: 0;
        border-radius: 4px;
        
    }

    #about{
        flex-direction: column;
        gap: 32px;
    }

    #about p{
        width: 100%;
        text-align: center;
    }

    #Picture{
        width: 100%;
    }

    .projects{
        grid-template-columns: 1fr;
    }

    #contacts{
        width: 100%;
    }

    #contacts .container{
        width: 100%;

        justify-content: center;
        align-items: center;

        padding: 0 24px;

        position: relative;
    }

    #contacts .container div{
        margin-right: 0;

        
    }

    #contacts .container ion-icon{
        position: absolute;
        left: 48px;
        top: 50%;

        transform: translate(-50%, -50%);
    }
}